.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-image: url(https://img.freepik.com/free-vector/grunge-watercolor-background-using-pastel-colours_1048-6530.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: 100% 240%;
}
.Register{
  background-color: white;
  text-align: center;
  margin: 10% 10% 5% 34%;
  padding-top: 2%;
  position: relative;
  width: 450px;
  height: 450px;
  border: 2px solid white;
  box-shadow: 10px  rgba(0, 0, 0, 1.0);
}
.reg{
  color: #76D7C4;
}
.email{
  border: 2px solid black;
  border-radius: 25px;
  font-size: 22px;
  text-align: center;
}
.name{
  border: 2px solid black;
  border-radius: 25px;
  font-size: 22px;
  text-align: center;
}
.username{
  border: 2px solid black;
  border-radius: 25px;
  font-size: 22px;
  text-align: center;
}
.password{
  border: 2px solid black;
  border-radius: 25px;
  font-size: 22px;
  text-align: center;
}
.but{
  border: 2px solid black;
  border-radius: 25px;
  font-size: 22px;
}
.but:hover{
  background-color: #FCF3CF;
  color: black;
}
.Login{
  text-align: center;
  margin: 10% 10% 10% 35%;
  position: relative;
  width: 400px;
  height: 300px;
  border: 4px solid #117A65;
}
.dont{
  padding-top: 5%;
}
.Navbar{
  background-color: #873600;
  text-align: center;
  justify-content: space-between;
}
.Navbar a{
  text-decoration: none;
  font-style: bold;
  font-size: 25px;
  color: white;
  padding: 0% 22% 0% 25%;
}
.hpage{
   color: black; 
}
.ppage{

 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
